html,
html body,
#root {
  /* Set the height to 100% to create a full-window viewer */
  height: 100%;
  margin: 0;
  padding: 0;
  /* Disable text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Override 'body' properties when using vite's react template */
  display: block;
  min-width: initial;
  min-height: initial;
}

/* Variant #1: Full-window viewer */
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Variant #2: Sized viewer */
/* .app {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
} */

.viewer {
  flex: 1 1 auto;
}

.viewer-toolbar {
  flex: 0 0 auto;
}

.viewer,
.viewer-toolbar {
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.viewer-toolbar {
  padding: 1rem 0rem;
  touch-action: none;
}

.center {
  text-align: center;
}

button {
  padding: 0.25rem 0.5rem;
  margin: 0rem 0.5rem;
}
